<footer class="footer">
	<div class="container">
		<div class="row border-bottom">
			<div class="col-md-7 col-sm-10 col-md-offset-3 col-sm-offset-2">
				<div class="col-sm-4 col-xs-12">
					<a href="#">Construction & Demolition</a>
					<a href="#">Household</a>
					<a href="#">Sizes</a>
				</div>
				<div class="col-sm-4 col-xs-12">
					<a href="#">Recycling</a>
					<a href="#">Storage Containers</a>
					<a href="#">FAQs</a>
				</div>
				<div class="col-sm-4 col-xs-12">
					<a href="#">About</a>
					<a href="#">Contact</a>
				</div>
			</div>
		</div>
		<div class="text-center footer-rights">
			<h6><small>about WasteMate</small></h6>
			<div>
				<small>© 2015 Paso Robles Waste & Recycle</small>
				<small>© 2015 WasteMate</small>
				<small>All Rights Reserved</small>
			</div>
		</div>
	</div>
</footer>

