<footer class="footer">
	<div class="container">
		<div class="row border-bottom">
			<div class="col-md-7 col-sm-10 col-md-offset-3 col-sm-offset-2">
				<div class="col-sm-4 col-xs-12">
					<a href="/construction-demolition.html">Construction & Demolition</a>
					<a href="/household.html">Household</a>
				</div>
				<div class="col-sm-4 col-xs-12">
					<a href="/recycling.html">Recycling</a>
					<a href="/storage-containers.html">Storage Containers</a>
				</div>
				<div class="col-sm-4 col-xs-12">
					<a href="/about.html">About</a>
					<a href="/contact.html">Contact</a>
				</div>
			</div>
		</div>
		<div class="text-center footer-rights">
			<h6><small>Site by WasteMate&reg;</small></h6>
			<div>
				<small>© 2018 Paso Robles Roll-Off & Recycle</small>
				<small>© 2018 WasteMate&reg;</small>
				<small>All Rights Reserved</small>
			</div>
		</div>
	</div>
</footer>

