/**
 * Site header
 */
.main-header {
    background-color: $white-color;
    .navbar-toggle {
        border-color: $green-color;
        margin-top: 25px;
        .icon-bar {
            background-color: $light-blue-color;
        }

        @media #{$xs} {
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }
    .navbar-header {
        @media #{$xs} {
            background-color: $white-color;
        }
    }
    .address-line {
        font-size: 13px;
        color: $gray-color;
        i {
            margin-right: 5px;
        }
    }
    .navbar {
        margin: 0 55px;
        border: none;
        @media #{$sm} {
            margin: 0;
        }
        @media #{$xs} {
            margin: 0;
        }
        .navbar-collapse{
            float: right;
            padding-top: 15px;
            padding-bottom: 15px;
            @media #{$xs} {
                float: none;
                background-color: $white-color;
            }
        }
        .navbar-brand {
            img {
                width: 130px;
            }

            @media #{$xs} {
                padding: 5px 15px;
            }
        }
        .navbar-nav {
            list-style: none;
            li {
                padding: 10px;
                @media #{$sm} {
                    padding: 10px 5px;
                }
                @media #{$xs} {
                    padding: 10px 20px; 
                }
                a, .btn-header {
                    text-transform: capitalize;
                    color: $link-color;
                    font-size: $font-size-base;
                    @media #{$sm} {
                        font-size: 11px;
                    }
                }
            }
            .btn-header {
                margin-top: 5px;
                padding-left: 15px;
                padding-right: 15px;
                background-color: $light-blue-color;
                text-transform: capitalize;
                color: $white-color;
                font-size: $font-size-base;
                @media #{$sm} {
                    padding: 5px 10px;
                }
                @media #{$xs} {
                    margin-left: 10px;
                    margin-top: 0;
                }
            }
        }            
    }
}

.main-background {
    background-image: url(../assets/main-bg.jpg);
}


/**
 * Site Body
**/
.our-services {
    background-color: $white-color;
    padding: 40px 0;
    .yard-img {
        height: 80px;
    }
    h2 {
        color: $green-color;
        font-weight: 100;
    }
    p {
        padding: 15px 20px;
        @media #{$sm} {
            padding: 15px 5px;
        } 
    }
}


/**
 * Site footer
 */
footer {
    padding: 20px 0;
    @media #{$xs} { 
        text-align: center;
    }
    a {
        color: $white-color;
        display: block;
        &:hover {
            color: $dark-blue-color;
        }
    }
    .border-bottom {
        border-bottom: 1px solid $white-color;
        padding-bottom: 20px;
    }
    .footer-rights {
        padding: 20px;
        h6 small {
            color: $white-color;
            text-transform: uppercase;
        }
        small {
            padding-right: 5px;
            border-right: 1px solid $white-color;
            &:last-child {
                border-right: none;
            }
        }
    }
}